@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.main-container {
   flex-grow: 1;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  padding-left: 168px;
}

.navigation-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.navigation-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-user {
  display: flex;
  margin: 0 0 0 170px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  list-style-type: none;
}

.page-header {
  padding: 0 70px;
  height: 64px;
}

.bttn {
  display: inline-block;
  padding: 8px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.bttn-brown {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.bttn-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.bttn-green {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
}

.bttn-big {
  font-size: 20px;
  line-height: 36px;
}

.title {
  max-width: 630px;
  margin: 0 auto 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.title-white {
  color: #ffffff;
}

.subtitle {
  max-width: 660px;
  margin: 0 auto 54px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
  text-align: center;
}

.subtitle-white {
  color: #ffffff;
}

.small-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.small-title-white {
  color: #ffffff;
}

.small-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.small-subtitle-white {
  color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.header-button {
  align-self: center;
  padding: 8px 50px;
  width: 160px;
  height: 36px;
}

.hero {
  background: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-index {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.advantages {
  padding-top: 69px;

  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  text-align: center;
  list-style: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  flex-grow: 1;
}

.adv-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item-wide {
  display: flex;
  width: 100%;

  background-color: #82B3D3;
}

.advantages-item-wide .paragraph {
  width: 400px;
}

.infrastructure {
   padding-top: 64px;

   background-color: #ffffff;
}

.infrastructure-lead-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
  padding: 0;

  text-align: center;
  list-style-type: none;
}

.infrastructure-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  background: rgba(131, 179, 211, 0.2);
}

.infrastructure-lead {
  text-transform: uppercase;
}

.infrastructure-item-light {
  background: rgba(131, 179, 211, 0.12);
}

.search {
  padding: 96px 300px;

  background-color: #ffffff;
}

.subscribe {
  padding: 96px 250px 104px;
}

.subscribe.subscribe-theme-custom {
  background: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.subscribe-button {
  width: 232px;
  height: 52px;
}

.input-email {
  width: 452px;
  height: 52px;


  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;

  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 144px;
  max-width: 240px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-social-link {
  display: block;
  width: 47px;
  min-height: 40px;
  padding: 10px 12px;
}

.footer-phone {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/* catalog */

.filters {
  padding: 35px 70px 70px;

  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-family: "PT Sans", sans-se
  rif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.prefix {
  color: rgba(0, 0, 0, 0.3);
}

.range-slider-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
}

.catalog-products{
  background-color: #ffffff;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  text-decoration: none;
  background-color: #f2f2f2;
}

.pagination-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-catalog {
  background-color: #ffffff;
}
